# =========================
# Data & Artifacts
# =========================
artifacts/
data/
*.zip
*.tar
*.gz

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# MLflow / DVC outputs
# =========================
mlruns/
*.pkl


# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Build files
# =========================
*.egg-info/
dist/
build/

# =========================
# Notebooks checkpoints
# =========================
.ipynb_checkpoints/

# =========================
# System files
# =========================
.DS_Store

# =========================
# Secrets
# =========================
.env

# =========================
# Large tools
# =========================
bfg.jar
dvc.lock
*.jpg
