# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store

# Large files
*.pkl
*.h5
*.pt
*.onnx
data/
artifacts/
models/

# Docker
*.tar

# Kubernetes
*.yaml.backup
